@charset "UTF-8";

/* 回答はここに書いてね */
.cf::before,
.cf::after {
  display: block;
  clear: both;
  content: "";
}

.body {
  font-size: 16px;
  line-height: 16px;
}

.box1 {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.box1 > li {
  float: left;
  width: 270px;
  height: auto;
  background-color: #3274ae;
}

.box1 > li:nth-child(n+2) {
  margin-left: 20px;
  }

.box2 {
  float: left;
  margin: 20px;
  padding: 20px;
  border: 10px solid #022366;
  width: 230px;
  height: auto;
  background-color: #eaf4ff;
  box-sizing: border-box;
}
/* 回答はここに書いてね */
