@charset "UTF-8";

/* 回答はここに書いてね */
.cf::before,
.cf::after {
  display: block;
  clear: both;
  content: "";
}

.container {
  width: 900px;
  height: 100%;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
  box-sizing: border-box;
}

.q1_img1 {
  float: left;
  margin: 0 20px 10px 0;

}

.q1_img2 {
  float: right;
  margin: 0 0 10px 20px;
}
/* 回答はここに書いてね */
