@charset "UTF-8";

/* 回答はここに書いてね */
.btn_small {
  font-size: 16px;
  border-radius: 3px;
  height: 26px;
  padding: 0 15px;
  margin: 5px;/*margin指定？*/
  display: inline-block;
  text-align: center;
    line-height: 26px;
  vertical-align: middle;
}

.btn_1 {
  color: #fff;
  background-color: #00bcd4;
}

.btn_2 {
  color: #fff;
  background-color: #ff4081;
}

.btn_3 {
  color: #fff;
  background-color: #e5e5e5;
}

.btn_4 {
  color: #222;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .12),0 1px 4px rgba(0, 0, 0, .12);
}

.btn_middle {
  font-size: 20px;
  border-radius: 5px;
  height: 32px;
  padding: 0 20px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
}

.btn_large {
  font-size: 24px;
  border-radius: 7px;
  height: 38px;
  padding: 0 25px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  vertical-align: middle;
}
/* 回答はここに書いてね */
